* {
  box-sizing: border-box;
}

.login6 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 1903px;
  height: 1026px;
  background-image: linear-gradient(
    118.33deg,
    #179ae31a 0%,
    #ffffff 50%,
    #971bde1a 100%
  );

  .container6 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: flex-start;
    margin-right: 728px;
    margin-left: 728px;
    height: 994px;
    row-gap: 32px;

    .container2 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;

      .container {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin-right: 184px;
        margin-left: 184px;
        border-radius: 33554400px;
        padding: 20px;
        background-image: linear-gradient(180deg, #179ae3 0%, #971bde 100%);

        .icon {
          width: 40px;
          height: 40px;
          overflow: hidden;
        }
      }

      .heading1 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 16px;
        padding: 0px 149px 2px 150px;
        height: 24px;

        .academiaDeMSica {
          margin: -2px 0px 0px;
          line-height: 24px;
          letter-spacing: 0;
          color: #179ae3;
          font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
          font-size: 16px;
        }
      }

      .heading2 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 8px;
        padding: 0px 178px 2px 179px;
        height: 24px;

        .melodyLabs {
          margin: -2px 0px 0px;
          line-height: 24px;
          letter-spacing: 0;
          color: #6b7280;
          font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
          font-size: 16px;
        }
      }
    }

    .card {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      border: 1px solid #e5e7eb;
      border-radius: 16px;
      box-shadow: 0px 20px 25px -5px #0000001a, 0px 8px 10px -6px #0000001a;
      background: #ffffff;
      padding: 32px 32px 51px;

      .login {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        margin-right: 1px;
        margin-left: 1px;
        padding: 0px 142px 2px 143px;
        height: 24px;

        .iniciarSesiN {
          margin: -2px 0px 0px;
          line-height: 24px;
          letter-spacing: 0;
          color: #1a1a2e;
          font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
          font-size: 16px;
        }
      }

      .login2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin: 48px 1px 0px;

        .correoElectrNico {
          flex-shrink: 0;
          align-self: stretch;
          width: 382px;
          height: 14px;
          line-height: 14px;
          letter-spacing: 0;
          color: #1a1a2e;
          font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
          font-size: 14px;
        }

        .input {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          border: 1px solid #e5e7eb;
          border-radius: 10px;
          background: #f9fafb;
          padding: 3px 11px;
          height: 36px;
          overflow: hidden;

          .tuEmailCom {
            flex-shrink: 0;
            line-height: 16px;
            letter-spacing: 0;
            color: #6b7280;
            font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
            font-size: 14px;
          }
        }

        .container3 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 8px;
        }

        .container4 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          margin-top: 24px;
          row-gap: 8px;
        }

        .button {
          display: flex;
          align-items: flex-start;
          margin-top: 24px;
          width: 158px;

          .aOlvidasteTuContrase {
            flex-shrink: 0;
            line-height: 20px;
            letter-spacing: 0;
            color: #179ae3;
            font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
            font-size: 14px;
          }
        }

        .button2 {
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 8px;
          margin-top: 24px;
          border-radius: 10px;
          padding: 8px 16px;
          width: 382px;
          background-image: linear-gradient(180deg, #179ae3 0%, #971bde 100%);

          .iniciarSesiN2 {
            flex-grow: 1;
            text-align: center;
            line-height: 20px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
            font-size: 14px;
          }
        }
      }

      .login3 {
        position: relative;
        margin-top: 48px;
        width: 382px;
        height: 20px;

        .container5 {
          position: absolute;
          top: 10px;
          left: 0;
          border-width: 1px 0px 0px;
          border-style: solid;
          border-color: #e5e7eb;
          width: 382px;
          height: 1px;
        }

        .text {
          display: flex;
          position: absolute;
          top: 0;
          left: 136px;
          align-items: flex-start;
          background: #ffffff;
          padding-right: 8px;
          padding-left: 8px;
          width: 111px;
          height: 20px;

          .oContinACon {
            flex-shrink: 0;
            line-height: 20px;
            letter-spacing: 0;
            color: #6b7280;
            font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
            font-size: 14px;
          }
        }
      }

      .button3 {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 16px;
        margin-top: 48px;
        border: 1px solid #e5e7eb;
        border-radius: 10px;
        background: #ffffff;
        width: 382px;
        height: 36px;

        .login4 {
          flex-shrink: 0;
          width: 16px;
          height: 16px;
          overflow: hidden;
        }

        .continuarConGoogle {
          flex-shrink: 0;
          width: 140px;
          height: 20px;
          overflow: hidden;
          line-height: 20px;
          letter-spacing: 0;
          color: #1a1a2e;
          font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
          font-size: 14px;
        }
      }

      .login5 {
        position: relative;
        margin-top: 19px;
        width: 382px;
        height: 24px;

        .aNoTienesUnaCuenta {
          position: absolute;
          top: 1px;
          left: 63px;
          width: 148px;
          height: 40px;
          text-align: center;
          line-height: 20px;
          letter-spacing: 0;
          color: #6b7280;
          font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
          font-size: 14px;
        }

        .button4 {
          display: flex;
          position: absolute;
          top: 0;
          left: 210px;
          align-items: flex-start;
          padding-bottom: 2px;
          width: 109px;
          height: 24px;

          .regStrateAqu {
            margin: -2px 0px 0px -1px;
            line-height: 24px;
            letter-spacing: 0;
            color: #179ae3;
            font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
            font-size: 16px;
          }
        }
      }
    }
  }

  .button5 {
    display: flex;
    position: absolute;
    top: 16px;
    left: 16px;
    flex-shrink: 0;
    align-items: center;
    border-radius: 10px;
    padding: 8px 10px;
    width: 36px;
    height: 32px;

    .icon2 {
      width: 16px;
      height: 16px;
      overflow: hidden;
    }
  }

  .backButton {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-shrink: 0;
    align-items: flex-start;
    z-index: 1;
    padding-right: 1px;
    width: 1px;
    height: 1px;

    .volver {
      margin: -2px 0px 0px;
      width: 0;
      text-align: center;
      line-height: 20px;
      letter-spacing: 0;
      color: #1a1a2e;
      font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
      font-size: 14px;
    }
  }
}
