* {
  box-sizing: border-box;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  border-radius: 10px;
  background: #179ae3;
  padding: 8px 16px;
  width: 435px;
  height: 36px;

  .verDetalles {
    flex-shrink: 0;
    line-height: 20px;
    letter-spacing: 0;
    color: #ffffff;
    font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
    font-size: 14px;
  }
}
