* {
  box-sizing: border-box;
}

.teacherDashboard9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  padding: 97px 207px 0px;
  width: 1918px;
  height: 944px;
  row-gap: 32px;

  .icon5 {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    overflow: hidden;
  }

  .dashboardDelProfesor {
    margin: -2px 0px 0px;
    line-height: 24px;
    letter-spacing: 0;
    color: #1a1a2e;
    font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
    font-size: 16px;
  }

  .container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    row-gap: 8px;

    .heading1 {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      padding-right: 1334px;
      padding-bottom: 2px;
      height: 24px;
    }

    .paragraph {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      padding-right: 1158px;
      padding-bottom: 2px;
      height: 24px;

      .gestionaTusClasesEst {
        margin: -2px 0px 0px;
        line-height: 24px;
        letter-spacing: 0;
        color: #6b7280;
        font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
        font-size: 16px;
      }
    }
  }

  .primitiveDiv {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    height: 506px;
    row-gap: 32px;

    .tabList {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      border-radius: 16px;
      background: #f3f4f6;
      width: 1504px;
      height: 36px;
      overflow: hidden;

      .primitiveButton {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        column-gap: 6px;
        border: 1px solid #00000000;
        border-radius: 16px;
        background: #ffffff;
        padding: 3px 7px;
        height: 29px;

        .resumen {
          flex-shrink: 0;
          line-height: 20px;
          letter-spacing: 0;
          color: #1a1a2e;
          font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
          font-size: 14px;
        }
      }

      .miHorario {
        flex-grow: 1;
        padding: 5px 8px;
        width: 251px;
        height: 29px;
        text-align: center;
        line-height: 20px;
        letter-spacing: 0;
        color: #1a1a2e;
        font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
        font-size: 14px;
      }
    }

    .tabPanel {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 24px;

      .teacherDashboard5 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        height: 106px;

        .icon {
          flex-shrink: 0;
          width: 24px;
          height: 24px;
          overflow: hidden;
        }

        .container2 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          row-gap: 4px;

          .cursosActivos {
            flex-shrink: 0;
            align-self: stretch;
            width: 260px;
            height: 20px;
            line-height: 20px;
            letter-spacing: 0;
            color: #6b7280;
            font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
            font-size: 14px;
          }

          .a2 {
            flex-shrink: 0;
            align-self: stretch;
            width: 260px;
            height: 32px;
            line-height: 32px;
            letter-spacing: 0;
            color: #1a1a2e;
            font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
            font-size: 24px;
          }
        }

        .teacherDashboard {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: 1px solid #e5e7eb;
          border-radius: 16px;
          background: #ffffff;
          padding: 23px 24px;
          width: 358px;
          min-width: 358px;
          height: 106px;

          .container3 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border-radius: 33554400px;
            background: #179ae31a;
            width: 48px;
            height: 48px;
          }
        }

        .teacherDashboard2 {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: 1px solid #e5e7eb;
          border-radius: 16px;
          background: #ffffff;
          padding: 23px 24px;
          width: 358px;
          min-width: 358px;
          height: 106px;

          .container4 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border-radius: 33554400px;
            background: #10b9811a;
            width: 48px;
            height: 48px;
          }
        }

        .teacherDashboard3 {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: 1px solid #e5e7eb;
          border-radius: 16px;
          background: #ffffff;
          padding: 23px 24px;
          width: 358px;
          min-width: 358px;
          height: 106px;

          .container5 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border-radius: 33554400px;
            background: #971bde1a;
            width: 48px;
            height: 48px;
          }
        }

        .teacherDashboard4 {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: 1px solid #e5e7eb;
          border-radius: 16px;
          background: #ffffff;
          padding: 23px 24px;
          width: 358px;
          min-width: 358px;
          height: 106px;

          .container6 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border-radius: 33554400px;
            background: #f59e0b1a;
            width: 48px;
            height: 48px;
          }
        }
      }

      .teacherDashboard8 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        height: 308px;

        .verTodosLosHorarios {
          line-height: 20px;
          letter-spacing: 0;
          color: #1a1a2e;
          font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
          font-size: 14px;
        }

        .prXimasClases {
          margin: -2px 0px 0px;
          line-height: 16px;
          letter-spacing: 0;
          color: #1a1a2e;
          font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
          font-size: 16px;
        }

        .card {
          display: flex;
          flex-direction: column;
          align-items: center;
          border: 1px solid #e5e7eb;
          border-radius: 16px;
          background: #ffffff;
          padding-top: 24px;

          .cardTitle {
            display: flex;
            align-items: flex-start;
            align-self: stretch;
            margin-right: 24px;
            margin-left: 24px;
            padding-right: 569px;
            padding-bottom: 2px;
            height: 16px;
          }

          .cardContent {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            margin-top: 30px;
            padding-right: 24px;
            padding-left: 24px;
            height: 236px;
            row-gap: 12px;

            .hoy1800 {
              flex-shrink: 0;
              line-height: 16px;
              letter-spacing: 0;
              color: #1a1a2e;
              font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
              font-size: 12px;
            }

            .container7 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              border-radius: 33554400px;
              background: #179ae31a;
              width: 40px;
              height: 40px;

              .icon2 {
                flex-shrink: 0;
                width: 20px;
                height: 20px;
                overflow: hidden;
              }
            }

            .teacherDashboard6 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              justify-content: space-between;
              border-radius: 12px;
              background: #f3f4f680;
              padding-right: 16px;
              padding-left: 16px;
              height: 76px;

              .container9 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                column-gap: 12px;
                width: 206px;

                .container8 {
                  display: flex;
                  flex-direction: column;
                  flex-grow: 1;
                  align-items: flex-start;

                  .paragraph2 {
                    display: flex;
                    flex-shrink: 0;
                    align-items: flex-start;
                    align-self: stretch;
                    padding-right: 60px;
                    padding-bottom: 2px;
                    height: 24px;
                  }

                  .paragraph3 {
                    display: flex;
                    flex-shrink: 0;
                    align-items: flex-start;
                    align-self: stretch;
                    height: 20px;

                    .a12EstudiantesSala10 {
                      margin: -2px 0px 0px;
                      width: 155px;
                      line-height: 20px;
                      letter-spacing: 0;
                      color: #6b7280;
                      font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
                      font-size: 14px;
                    }
                  }
                }
              }

              .badge {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                column-gap: 4px;
                border: 1px solid #e5e7eb;
                border-radius: 10px;
                padding: 1px 7px;
                width: 71px;
                height: 22px;
                overflow: hidden;
              }
            }

            .teacherDashboard7 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              justify-content: space-between;
              border-radius: 12px;
              background: #f3f4f680;
              padding-right: 16px;
              padding-left: 16px;
              height: 76px;

              .container11 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                column-gap: 12px;
                width: 199px;

                .container10 {
                  display: flex;
                  flex-direction: column;
                  flex-grow: 1;
                  align-items: flex-start;

                  .paragraph4 {
                    display: flex;
                    flex-shrink: 0;
                    align-items: flex-start;
                    align-self: stretch;
                    padding-right: 25px;
                    padding-bottom: 2px;
                    height: 24px;
                  }

                  .paragraph5 {
                    display: flex;
                    flex-shrink: 0;
                    align-items: flex-start;
                    align-self: stretch;
                    height: 20px;

                    .a8EstudiantesSala102 {
                      margin: -2px 0px 0px;
                      width: 147px;
                      line-height: 20px;
                      letter-spacing: 0;
                      color: #6b7280;
                      font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
                      font-size: 14px;
                    }
                  }
                }
              }

              .badge2 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                column-gap: 4px;
                border: 1px solid #e5e7eb;
                border-radius: 10px;
                padding: 1px 7px;
                width: 89px;
                height: 22px;
                overflow: hidden;
              }
            }

            .button {
              display: flex;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              border: 1px solid #e5e7eb;
              border-radius: 10px;
              background: #ffffff;
              padding: 5px 276px 9px;
            }
          }
        }

        .card2 {
          display: flex;
          flex-direction: column;
          align-items: center;
          border: 1px solid #e5e7eb;
          border-radius: 16px;
          background: #ffffff;
          padding-top: 24px;
          padding-bottom: 32px;

          .cardTitle2 {
            display: flex;
            align-items: flex-start;
            align-self: stretch;
            margin-right: 24px;
            margin-left: 24px;
            padding-right: 561px;
            padding-bottom: 2px;
            height: 16px;
          }

          .cardContent2 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            margin-top: 30px;
            padding-right: 24px;
            padding-left: 24px;
            height: 204px;
            row-gap: 12px;

            .icon3 {
              margin-top: 4px;
              width: 16px;
              height: 16px;
              overflow: hidden;
            }

            .button2 {
              display: flex;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              justify-content: space-between;
              border: 1px solid #e5e7eb;
              border-radius: 10px;
              background: #ffffff;
              padding: 5px 539px 9px 12px;
            }

            .button3 {
              display: flex;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              justify-content: space-between;
              border: 1px solid #e5e7eb;
              border-radius: 10px;
              background: #ffffff;
              padding: 5px 556px 9px 12px;
            }

            .button4 {
              display: flex;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              justify-content: space-between;
              border: 1px solid #e5e7eb;
              border-radius: 10px;
              background: #ffffff;
              padding: 5px 538px 9px 12px;
            }

            .button5 {
              display: flex;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              justify-content: space-between;
              border: 1px solid #e5e7eb;
              border-radius: 10px;
              background: #ffffff;
              padding: 5px 535px 9px 12px;
            }
          }
        }
      }
    }
  }

  .container14 {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: #e5e7eb;
    background: #ffffff;
    padding-right: 207px;
    padding-left: 207px;
    width: 1918px;
    height: 65px;

    .container12 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 8px;
      width: 152px;

      .icon4 {
        flex-shrink: 0;
        width: 32px;
        height: 32px;
        overflow: hidden;
      }

      .text {
        display: flex;
        flex-grow: 1;
        align-items: flex-start;

        .melodyLabs {
          flex-shrink: 0;
          line-height: 28px;
          letter-spacing: 0;
          color: #1a1a2e;
          font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
          font-size: 20px;
        }
      }
    }

    .container13 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 12px;
      width: 191px;

      .button6 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        column-gap: 8px;
        border-radius: 10px;
        height: 36px;

        .profesorDemo {
          flex-shrink: 0;
          width: 95px;
          height: 20px;
          text-align: center;
          line-height: 20px;
          letter-spacing: 0;
          color: #1a1a2e;
          font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
          font-size: 14px;
        }
      }

      .button7 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        width: 36px;
        height: 36px;
      }
    }
  }

  .chatbotWidget {
    display: flex;
    position: absolute;
    top: 864px;
    left: 1701px;
    flex-shrink: 0;
    align-items: center;
    column-gap: 12px;
    z-index: 1;
    width: 193px;
    height: 56px;

    .text2 {
      display: flex;
      flex-grow: 1;
      align-items: flex-start;
      opacity: 0.92;
      border-radius: 33554400px;
      box-shadow: 0px 10px 15px -3px #0000001a, 0px 4px 6px -4px #0000001a;
      background: #1a1a2e;
      padding: 11px 16px 0px;
      height: 40px;

      .aTienesDudas {
        flex-shrink: 0;
        line-height: 20px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
        font-size: 14px;
      }
    }

    .button8 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      border-radius: 33554400px;
      box-shadow: 0px 10px 15px -3px #0000001a, 0px 4px 6px -4px #0000001a;
      background: #179ae3;
      width: 56px;
      height: 56px;
    }
  }
}
