* {
  box-sizing: border-box;
}

.studentDashboard {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  padding: 97px 207px 0px;
  width: 1918px;
  height: 944px;
  row-gap: 32px;

  .icon3 {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    overflow: hidden;
  }

  .container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    row-gap: 8px;

    .heading1 {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      padding-right: 1404px;
      padding-bottom: 2px;
      height: 24px;

      .miDashboard {
        margin: -2px 0px 0px;
        line-height: 24px;
        letter-spacing: 0;
        color: #1a1a2e;
        font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
        font-size: 16px;
      }
    }

    .paragraph {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      padding-right: 961px;
      height: 24px;

      .bienvenidoDeVueltaEs {
        margin: -2px 0px 0px;
        width: 543px;
        line-height: 24px;
        letter-spacing: 0;
        color: #6b7280;
        font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
        font-size: 16px;
      }
    }
  }

  .primitiveDiv {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    height: 255px;
    row-gap: 32px;

    .tabList {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      border-radius: 16px;
      background: #f3f4f6;
      width: 1504px;
      height: 36px;
      overflow: hidden;

      .resumen {
        flex-grow: 1;
        padding: 5px 8px;
        width: 251px;
        height: 29px;
        text-align: center;
        line-height: 20px;
        letter-spacing: 0;
        color: #1a1a2e;
        font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
        font-size: 14px;
      }

      .primitiveButton {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        column-gap: 6px;
        border: 1px solid #00000000;
        border-radius: 16px;
        background: #ffffff;
        padding: 3px 7px;
        height: 29px;

        .pagos {
          flex-shrink: 0;
          line-height: 20px;
          letter-spacing: 0;
          color: #1a1a2e;
          font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
          font-size: 14px;
        }
      }
    }

    .card {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      border: 1px solid #e5e7eb;
      border-radius: 16px;
      background: #ffffff;
      padding: 23px 0px 23px 23px;
      width: 1504px;
      row-gap: 30px;

      .cardTitle {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        margin-right: 25px;
        padding-right: 1324px;
        padding-bottom: 2px;
        height: 16px;

        .historialDePagos {
          margin: -2px 0px 0px;
          line-height: 16px;
          letter-spacing: 0;
          color: #1a1a2e;
          font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
          font-size: 16px;
        }
      }

      .table {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        margin-right: 25px;
        border: 1px solid #e5e7eb;
        border-radius: 12px;
        overflow: hidden;

        .tableHeader {
          display: flex;
          align-items: center;
          align-self: stretch;

          .tableRow {
            display: flex;
            flex-grow: 1;
            align-items: center;
            justify-content: space-between;
            border-width: 0px 0px 1px;
            border-style: solid;
            border-color: #e5e7eb;
            width: 1452px;
            min-width: 1452px;
            height: 40px;

            .fecha {
              padding: 8px 0px 12px 8px;
              width: 234px;
              height: 40px;
              line-height: 20px;
              letter-spacing: 0;
              color: #1a1a2e;
              font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
              font-size: 14px;
            }

            .curso {
              padding: 8px 0px 12px 8px;
              width: 163px;
              height: 40px;
              line-height: 20px;
              letter-spacing: 0;
              color: #1a1a2e;
              font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
              font-size: 14px;
            }

            .mTodo {
              padding: 8px 0px 12px 8px;
              width: 116px;
              height: 40px;
              line-height: 20px;
              letter-spacing: 0;
              color: #1a1a2e;
              font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
              font-size: 14px;
            }

            .iDTransacciN {
              padding: 8px 0px 12px 8px;
              width: 270px;
              height: 40px;
              line-height: 20px;
              letter-spacing: 0;
              color: #1a1a2e;
              font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
              font-size: 14px;
            }

            .monto {
              padding: 8px 8px 12px 0px;
              width: 179px;
              height: 40px;
              text-align: right;
              line-height: 20px;
              letter-spacing: 0;
              color: #1a1a2e;
              font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
              font-size: 14px;
            }

            .estado {
              padding: 8px 0px 12px 8px;
              width: 172px;
              height: 40px;
              line-height: 20px;
              letter-spacing: 0;
              color: #1a1a2e;
              font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
              font-size: 14px;
            }

            .acciones {
              padding: 8px 7px 12px 0px;
              width: 319px;
              height: 40px;
              text-align: right;
              line-height: 20px;
              letter-spacing: 0;
              color: #1a1a2e;
              font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
              font-size: 14px;
            }
          }
        }

        .tableRow2 {
          display: flex;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          min-width: 1452px;
          height: 49px;

          .a30DeSeptDe2025 {
            padding: 13px 0px 16px 8px;
            width: 234px;
            height: 49px;
            line-height: 20px;
            letter-spacing: 0;
            color: #1a1a2e;
            font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
            font-size: 14px;
          }

          .pianoBSico {
            padding: 13px 0px 16px 8px;
            width: 163px;
            height: 49px;
            line-height: 20px;
            letter-spacing: 0;
            color: #1a1a2e;
            font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
            font-size: 14px;
          }

          .pSe {
            padding: 13px 0px 16px 8px;
            width: 116px;
            height: 49px;
            line-height: 20px;
            letter-spacing: 0;
            color: #1a1a2e;
            font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
            font-size: 14px;
          }

          .pSe2025Abc123Xyz {
            padding: 14px 0px 15px 8px;
            width: 270px;
            height: 49px;
            line-height: 20px;
            letter-spacing: 0;
            color: #1a1a2e;
            font-family: Consolas, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }

          .tableCell {
            display: flex;
            align-items: flex-start;
            padding: 13px 7px 0px 84px;
            height: 49px;

            .a450000Cop {
              width: 87px;
              text-align: right;
              line-height: 20px;
              letter-spacing: 0;
              color: #1a1a2e;
              font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
              font-size: 14px;
            }
          }

          .tableCell2 {
            display: flex;
            align-items: center;
            padding: 14px 81px 13px 8px;

            .badge {
              display: flex;
              align-items: center;
              justify-content: center;
              column-gap: 4px;
              border: 1px solid #00000000;
              border-radius: 10px;
              background: #10b981;
              padding: 1px 7px;
              width: 83px;
              height: 22px;
              overflow: hidden;

              .confirmado {
                flex-shrink: 0;
                line-height: 16px;
                letter-spacing: 0;
                color: #ffffff;
                font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
                font-size: 12px;
              }
            }
          }

          .paymentTable {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            column-gap: 8px;
            padding: 9px 8px 8px;
            width: 319px;

            .ver {
              line-height: 20px;
              letter-spacing: 0;
              color: #1a1a2e;
              font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
              font-size: 14px;
            }

            .icon {
              margin-top: 4px;
              width: 16px;
              height: 16px;
              overflow: hidden;
            }

            .button {
              display: flex;
              flex-shrink: 0;
              align-items: flex-start;
              justify-content: space-between;
              border-radius: 10px;
              padding: 4px 10px 8px;
              width: 67px;
              min-width: 67px;
            }

            .button2 {
              display: flex;
              flex-shrink: 0;
              align-items: flex-start;
              justify-content: space-between;
              border-radius: 10px;
              padding: 4px 9px 8px 10px;
              width: 92px;
              min-width: 92px;
            }
          }
        }
      }
    }
  }

  .container4 {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: #e5e7eb;
    background: #ffffff;
    padding-right: 207px;
    padding-left: 207px;
    width: 1918px;
    height: 65px;

    .container2 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 8px;
      width: 152px;

      .icon2 {
        flex-shrink: 0;
        width: 32px;
        height: 32px;
        overflow: hidden;
      }

      .text {
        display: flex;
        flex-grow: 1;
        align-items: flex-start;

        .melodyLabs {
          flex-shrink: 0;
          line-height: 28px;
          letter-spacing: 0;
          color: #1a1a2e;
          font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
          font-size: 20px;
        }
      }
    }

    .container3 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 12px;
      width: 253px;

      .button3 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        width: 36px;
        height: 36px;
      }

      .button4 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        column-gap: 8px;
        border-radius: 10px;
        height: 36px;

        .estudianteDemo {
          flex-shrink: 0;
          width: 109px;
          height: 20px;
          text-align: center;
          line-height: 20px;
          letter-spacing: 0;
          color: #1a1a2e;
          font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
          font-size: 14px;
        }
      }
    }
  }

  .chatbotWidget {
    display: flex;
    position: absolute;
    top: 864px;
    left: 1701px;
    flex-shrink: 0;
    align-items: center;
    column-gap: 12px;
    z-index: 1;
    width: 193px;
    height: 56px;

    .text2 {
      display: flex;
      flex-grow: 1;
      align-items: flex-start;
      opacity: 0.52;
      border-radius: 33554400px;
      box-shadow: 0px 10px 15px -3px #0000001a, 0px 4px 6px -4px #0000001a;
      background: #1a1a2e;
      padding: 11px 16px 0px;
      height: 40px;

      .aTienesDudas {
        flex-shrink: 0;
        line-height: 20px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
        font-size: 14px;
      }
    }

    .button5 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      border-radius: 33554400px;
      box-shadow: 0px 10px 15px -3px #0000001a, 0px 4px 6px -4px #0000001a;
      background: #179ae3;
      width: 56px;
      height: 56px;
    }
  }
}
