* {
  box-sizing: border-box;
}

.adminDashboard {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  padding: 97px 207px 0px;
  width: 1918px;
  height: 944px;
  row-gap: 32px;

  .icon4 {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    overflow: hidden;
  }

  .container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    row-gap: 8px;

    .heading1 {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      padding-right: 1246px;
      padding-bottom: 2px;
      height: 36px;

      .panelDeAdministraciN {
        margin: -2px 0px 0px;
        line-height: 36px;
        letter-spacing: 0;
        color: #1a1a2e;
        font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
        font-size: 24px;
      }
    }

    .paragraph {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      padding-right: 1017px;
      padding-bottom: 2px;
      height: 24px;

      .gestionaCursosProfes {
        margin: -2px 0px 0px;
        line-height: 24px;
        letter-spacing: 0;
        color: #6b7280;
        font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
        font-size: 16px;
      }
    }
  }

  .primitiveDiv {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    height: 400px;
    row-gap: 32px;

    .tabList {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      border-radius: 16px;
      background: #f3f4f6;
      width: 574px;
      height: 36px;

      .recursos {
        flex-shrink: 0;
        line-height: 20px;
        letter-spacing: 0;
        color: #1a1a2e;
        font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
        font-size: 14px;
      }

      .resumen {
        flex-grow: 1;
        padding: 5px 8px;
        width: 82px;
        height: 29px;
        text-align: center;
        line-height: 20px;
        letter-spacing: 0;
        color: #1a1a2e;
        font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
        font-size: 14px;
      }

      .primitiveButton {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        column-gap: 6px;
        border: 1px solid #00000000;
        border-radius: 16px;
        background: #ffffff;
        padding: 3px 7px;
        height: 29px;
      }

      .primitiveButton2 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        column-gap: 6px;
        border: 1px solid #00000000;
        border-radius: 16px;
        padding: 3px 7px;
        height: 29px;
      }
    }

    .card {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      border: 1px solid #e5e7eb;
      border-radius: 16px;
      background: #ffffff;
      padding: 23px 0px 23px 23px;
      width: 1504px;
      row-gap: 30px;

      .cardTitle {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        margin-right: 25px;
        padding-right: 1304px;
        padding-bottom: 2px;
        height: 16px;

        .gestiNDeRecursos {
          margin: -2px 0px 0px;
          line-height: 16px;
          letter-spacing: 0;
          color: #1a1a2e;
          font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
          font-size: 16px;
        }
      }

      .table {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        align-self: stretch;
        margin-right: 25px;
        overflow: hidden;

        .tableHeader {
          display: flex;
          align-items: center;
          align-self: stretch;

          .tableRow {
            display: flex;
            flex-grow: 1;
            align-items: center;
            justify-content: space-between;
            border-width: 0px 0px 1px;
            border-style: solid;
            border-color: #e5e7eb;
            width: 1454px;
            min-width: 1454px;
            height: 40px;

            .tipo {
              padding: 8px 0px 12px 8px;
              width: 265px;
              height: 40px;
              line-height: 20px;
              letter-spacing: 0;
              color: #1a1a2e;
              font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
              font-size: 14px;
            }

            .nombre {
              padding: 8px 0px 12px 8px;
              width: 401px;
              height: 40px;
              line-height: 20px;
              letter-spacing: 0;
              color: #1a1a2e;
              font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
              font-size: 14px;
            }

            .estado {
              padding: 8px 0px 12px 8px;
              width: 242px;
              height: 40px;
              line-height: 20px;
              letter-spacing: 0;
              color: #1a1a2e;
              font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
              font-size: 14px;
            }

            .ocupadoPor {
              padding: 8px 0px 12px 8px;
              width: 357px;
              height: 40px;
              line-height: 20px;
              letter-spacing: 0;
              color: #1a1a2e;
              font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
              font-size: 14px;
            }

            .acciones {
              padding: 8px 7px 12px 0px;
              width: 190px;
              height: 40px;
              text-align: right;
              line-height: 20px;
              letter-spacing: 0;
              color: #1a1a2e;
              font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
              font-size: 14px;
            }
          }
        }

        .tableBody {
          display: flex;
          flex-direction: column;
          align-items: center;
          align-self: stretch;

          .pianoBSico {
            padding: 13px 0px 17px 8px;
            width: 357px;
            height: 49px;
            line-height: 20px;
            letter-spacing: 0;
            color: #1a1a2e;
            font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
            font-size: 14px;
          }

          .sala101 {
            padding: 13px 0px 17px 8px;
            width: 401px;
            height: 49px;
            line-height: 20px;
            letter-spacing: 0;
            color: #1a1a2e;
            font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
            font-size: 14px;
          }

          .sala {
            flex-shrink: 0;
            line-height: 16px;
            letter-spacing: 0;
            color: #1a1a2e;
            font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
            font-size: 12px;
          }

          .icon {
            width: 16px;
            height: 16px;
            overflow: hidden;
          }

          .ocupado {
            flex-shrink: 0;
            line-height: 16px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
            font-size: 12px;
          }

          .badge3 {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 4px;
            border: 1px solid #00000000;
            border-radius: 10px;
            background: #971bde;
            padding: 1px 7px;
            width: 76px;
            height: 22px;
            overflow: hidden;
          }

          .button {
            display: flex;
            align-items: center;
            padding: 17px 18px 17px 156px;
          }

          .tableCell {
            display: flex;
            align-items: center;
            padding: 14px 216px 14px 8px;

            .badge {
              display: flex;
              align-items: center;
              justify-content: center;
              column-gap: 4px;
              border: 1px solid #e5e7eb;
              border-radius: 10px;
              padding: 1px 7px;
              width: 40px;
              height: 22px;
              overflow: hidden;
            }
          }

          .tableRow2 {
            display: flex;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;
            border-width: 0px 0px 1px;
            border-style: solid;
            border-color: #e5e7eb;
            min-width: 1454px;
            height: 49px;

            .tableCell2 {
              display: flex;
              align-items: center;
              padding: 14px 166px 14px 8px;

              .badge2 {
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 4px;
                border: 1px solid #00000000;
                border-radius: 10px;
                background: #179ae3;
                padding: 1px 7px;
                width: 67px;
                height: 22px;
                overflow: hidden;
              }
            }
          }

          .tableRow3 {
            display: flex;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;
            border-width: 0px 0px 1px;
            border-style: solid;
            border-color: #e5e7eb;
            min-width: 1454px;
            height: 49px;

            .tableCell3 {
              display: flex;
              align-items: center;
              padding: 14px 158px 14px 8px;
            }
          }

          .tableRow4 {
            display: flex;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;
            min-width: 1454px;
            height: 49px;

            .tableCell4 {
              display: flex;
              align-items: center;
              padding: 14px 172px 13px 8px;

              .badge4 {
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 4px;
                border: 1px solid #e5e7eb;
                border-radius: 10px;
                padding: 1px 7px;
                width: 85px;
                height: 22px;
                overflow: hidden;
              }
            }

            .pianoDeColaYamaha {
              padding: 13px 0px 16px 8px;
              width: 401px;
              height: 49px;
              line-height: 20px;
              letter-spacing: 0;
              color: #1a1a2e;
              font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
              font-size: 14px;
            }

            .tableCell5 {
              display: flex;
              align-items: center;
              padding: 14px 158px 13px 8px;
            }

            .a {
              padding: 13px 0px 16px 8px;
              width: 357px;
              height: 49px;
              line-height: 20px;
              letter-spacing: 0;
              color: #1a1a2e;
              font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
              font-size: 14px;
            }

            .button2 {
              display: flex;
              align-items: center;
              padding: 17px 18px 16px 156px;
            }
          }
        }
      }
    }
  }

  .container4 {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: #e5e7eb;
    background: #ffffff;
    padding-right: 207px;
    padding-left: 207px;
    width: 1918px;
    height: 65px;

    .container2 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 8px;
      width: 152px;

      .icon2 {
        flex-shrink: 0;
        width: 32px;
        height: 32px;
        overflow: hidden;
      }

      .text {
        display: flex;
        flex-grow: 1;
        align-items: flex-start;

        .melodyLabs {
          flex-shrink: 0;
          line-height: 28px;
          letter-spacing: 0;
          color: #1a1a2e;
          font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
          font-size: 20px;
        }
      }
    }

    .container3 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 12px;
      width: 229px;

      .button3 {
        display: flex;
        flex-grow: 1;
        align-items: flex-start;
        justify-content: space-between;
        border-radius: 10px;
        padding: 6px 14px 10px 12px;

        .icon3 {
          margin-top: 4px;
          width: 16px;
          height: 16px;
          overflow: hidden;
        }

        .administradorDemo {
          line-height: 20px;
          letter-spacing: 0;
          color: #1a1a2e;
          font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
          font-size: 14px;
        }
      }

      .button4 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        width: 36px;
        height: 36px;
      }
    }
  }

  .chatbotWidget {
    display: flex;
    position: absolute;
    top: 864px;
    left: 1701px;
    flex-shrink: 0;
    align-items: center;
    column-gap: 12px;
    z-index: 1;
    width: 193px;
    height: 56px;

    .text2 {
      display: flex;
      flex-grow: 1;
      align-items: flex-start;
      opacity: 0.72;
      border-radius: 33554400px;
      box-shadow: 0px 10px 15px -3px #0000001a, 0px 4px 6px -4px #0000001a;
      background: #1a1a2e;
      padding: 11px 16px 0px;
      height: 40px;

      .aTienesDudas {
        flex-shrink: 0;
        line-height: 20px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
        font-size: 14px;
      }
    }

    .button5 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      border-radius: 33554400px;
      box-shadow: 0px 10px 15px -3px #0000001a, 0px 4px 6px -4px #0000001a;
      background: #179ae3;
      width: 56px;
      height: 56px;
    }
  }
}
